

:root {
    --text-color-black: #212121;

  }

  /*color: var(--text-color-gray);*/
  

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.172;
    letter-spacing: 0.03em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  h1,
  h2,
  h3 {
    color: black;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .wrapper {
    padding: 82px 390px 88px;
    width: 1140px;
  }

  .news_list {
    display: grid;
    grid-template-columns: repeat(4, 240px);
    grid-template-rows: repeat(2, minmax(260px, auto));
    gap: 60px;
    grid-auto-rows: minmax(260px, auto);
  }

  .news_img {
    margin-bottom: 15px;
  }

  .news_text {
    font-weight: 500;
  }